@media screen and (min-width: 500px) and (max-width:2000px){
    
    :root{
        --color1:red;
        --color2:white;
        --color3:gray;
    }
    
    *{
        padding: 0px;
        margin: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: black;
        color: white;
        overflow: hidden;
    }
    
    div#logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    nav#itens{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -35px;
        text-decoration: none;
    }
    a{
        text-decoration: none;
        text-overflow: none;
        padding: 0px 10px ;
    }
    div#perfil2{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -30px;
    }
    div#logo > img{
        width: 90px;
        padding: 0px 10px;
    }
    div#itens> p{
        padding: 0px 8px;
        font-weight: 10px;
    }
    div#perfil2> img#campainha{
        width: 15px;
        margin: 0px 7px;
        
    }
    div#perfil2 > img#lupa{
        width: 12px;
        padding: 0px 10px 0px 60px;
        
    }
    div#perfil2 > img#perfil{
        padding: 5px 5px;
        width: 35px;
        border-radius: 100%;
    }

    /*primeiro layout */
    p.titulos{
        margin: 20px 15px 10px 15px;
        font-size: 25px;
    }
    div#primeirolay{
        display: flex;
        
    }
    div > img{
        display: flex;
        justify-content: space-evenly;
        background-size: cover;
        width: 230px;
        margin: 10px 20px;
    }
    
    /* segunda lay*/
    
    div#segundolay{
        display: flex;
        justify-content: space-evenly;
    }
    div#segundolay > img{
        display: flex;
        background-size: cover;
        width: 120px;
        height: 200px;
        margin-left: 0;
    }
    div#segundolay > p{
        margin: -50px -12px 10px 15px;
        padding: 0;
        font-size: 280px;    
    }
    /* terceiro lay */
    div#terceirolay{
        display: flex;
    }
    div#terceirolay > img{
        display: flex;
        background-size: cover;
        width: 230px;
        margin: 10px 20px;
    }
}
